<h1>Times</h1>
<table>
  <tr>
    <th>Name</th>
    <th>SM</th>
    <th>PO</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.scrum_master %></td>
    <td><%= team.product_owner %></td>
    <td><%= link_to 'Ver', team %></td>
    <td><%= link_to 'Editar', edit_team_path(team) %></td>
    <td><%= link_to 'Excluir', team, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Novo Time', new_team_path %>
