<style>
#container {
  float: table;
}

#projetos {
  float: left;
  background-color: #CC0000;
}
</style>
<p id="notice"><%= notice %></p>
<h1>
  <%= @team.name %>
</h1>
<div class="row">
  <div class="span4">
    <p>
      <b>SM:</b><br/>
      <%= @team.scrum_master %>
    </p>
    <p>
      <b>PO:</b><br/>
      <%= @team.product_owner %>
    </p>
  </div>
  <div class="span4">
    aaa
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= link_to 'Editar', edit_team_path(@team) %> |
    <%= link_to 'Voltar', teams_path %>
  </div>
</div>
