<h1>Projetos</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| 
team = project.team  
%>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.team.name %></td>
    <td><%= link_to 'Ver', team_project_path(team, project) %></td>
    <td><%= link_to 'Editar', edit_team_project_path(team, project) %></td>
    <td><%= link_to 'Excluir', [team, project], confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Novo Projeto', new_team_project_path %>