<style>
#chamados-novos-status {
  margin-top: 10px;
}
</style>
<script>
blnRepositorio = false;
blnProd = false;
blnQA = false;
qa_version = '';
prod_version = '';

atualizarRepositorio = function() {
  $("#passo-1-status").html("Executando")
  
  $.ajax({
    url: "/projects/<%=@project.id%>/chamados/repository",
    success: function(){
      $("#passo-1-status").html("OK")
      blnRepositorio = true;
      post_if_ready();
    }
  });
}

recuperarVersaoProd = function() {
  $("#passo-2-status").html("Executando")
  
  $.ajax({
    url: "/projects/<%=@project.id%>/chamados/production_version",
    success: function(data){
      blnProd = true;
      prod_version = data;
      
      $("#passo-2-status").html(prod_version);
      $('#prod-version').val(prod_version);
      atualizar_if_ready();
    }
  });
}

recuperarVersaoQaApproved = function() {
  $("#passo-3-status").html("Executando")
  
  $.ajax({
    url: "/projects/<%=@project.id%>/chamados/qa_approved_version",
    success: function(data){
      blnQA = true;
      qa_version = data;
      $("#passo-3-status").html(qa_version);
      $('#qa-version').val(qa_version);
      atualizar_if_ready();
    }
  });
}

atualizar_if_ready = function() {
  if(!(blnQA && blnProd))
    return;
  
  if(prod_version == qa_version) {
    alert("Não há necessidade de atualização. Mesma versão em produção");
    return;
  }
  
  atualizarRepositorio()
}

post_if_ready = function() {
  if(!(blnQA && blnProd && blnRepositorio))
    return;
    
  document.getElementById("form_chamados").submit()
}

$(document).ready(function() {
   recuperarVersaoProd();
   recuperarVersaoQaApproved();
});
</script>
<h1><%=t('titulos.chamados-novo')%> (<%=@project.name%>)</h1>
<table id="chamados-novos-status">
  <tr id="passo-1">
    <td>Recuperando/Atualizando Repositório</td>
    <td id="passo-1-status"></td>
  </tr>
  <tr id="passo-2">
    <td>Recuperando Versão de produção</td>
    <td id="passo-2-status"></td>
  </tr>
  <tr id="passo-3">
    <td>Recuperando Versão QA Approved</td>
    <td id="passo-3-status"></td>
  </tr>
</table>
<form id="form_chamados" action="<%=project_chamados_path%>" method="post">
  <input type="hidden" name="prod-version" id="prod-version"/>
  <input type="hidden" name="qa-version" id="qa-version"/>
</form>